body {
  background-color: #001219;
  color: #fefefe;
}

h1 {
  color: #edc531;
  font-size: 5rem;
  font-family: montserrat;
  font-weight: bolder;
  margin-left: 2rem;
}

main {
  display: flex;
  justify-content: center;
}

article {
  border: 4px solid #edc531;
  border-radius: 15px;
  width: 750px;
  height: 438px;
}

h2 {
  margin-left: 20px;
  font-size: 3rem;
  font-family: montserrat;
}
